UserMailer#send_mail

= "Bonjour #{@letter.user.firstname} #{@letter.user.lastname},"
= "Vous avez reçu un courrier de la part de #{@letter.sender}."

- @letter.attachments.each do |a|
  =link_to a.image