<div class='well'>
  <h3>Adresse</h3>
  <p>Cette adresse sera utilisée pour les courriers que vous souhaitez ré-expédier chez vous.</p>
  <div class='row'>


    <div class="control-group">
      <%= f.label :address_street, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :address_street %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :address_zipcode, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :address_zipcode %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :address_city, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :address_city %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :address_country, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :address_country %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :address_details, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :address_details %>
      </div>
    </div>
  </div>
</div>