<div class='row'>
  <div class='offset3 span6'>
    <div class='well'>
      <h2>Modifier mes informations</h2>
      <%= form_for(@user, :url => registration_path(@user), :html => {:method => :put, class: 'form-horizontal'}) do |f| %>
          <%= devise_error_messages! %>

          <%= render partial: 'devise/shared/additional_fields',  :locals => { :f => f }  %>

          <div class="control-group"><%= f.label :email, class: 'control-label' %>
            <div class="controls">
              <%= f.email_field :email, :autofocus => true %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && @user.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= @user.unconfirmed_email %></div>
          <% end %>

          <div class="control-group"><%= f.label :password, class: 'control-label' %> <i>(leave blank if you don't want to change it)</i>

            <div class="controls">
              <%= f.password_field :password, :autocomplete => "off" %>
            </div>
          </div>

          <div class="control-group"><%= f.label :password_confirmation, class: 'control-label' %>
            <div class="controls">
              <%= f.password_field :password_confirmation %>
            </div>
          </div>

          <div class="control-group"><%= f.label :current_password, class: 'control-label' %>
            <i>(we need your current password to confirm your changes)</i>

            <div class="controls">
              <%= f.password_field :current_password %>
            </div>
          </div>

          <div><%= f.submit "Update", class: 'btn' %></div>
      <% end %>

      <h3>Supprimer mon compte</h3>

      <p>Pas satisfait? <%= button_to "Cancel my account", registration_path(@user), :data => {:confirm => "Are you sure?"}, :method => :delete %></p>

      <%= link_to "Retour", :back %>

    </div>
  </div>
</div>