.row
  .span3
    %ul.nav.nav-tabs.nav-stacked
      %li
        = link_to mails_path do
          Mailbox
          %span.badge= @mails.count
      %li= link_to 'Archive', mails_path
      %li= link_to 'Trash', mails_path
    .well
      %h3
        Mon adresse
      %p
        #{current_user.firstname} #{current_user.lastname}
        %br
        1 rue du Hackeur
        %br
        75000 Paris
  .span9
    .well
      %table.table
        %thead
          %tr
            %th Selection
            %th Expediteur
            %th Recu le
            %th Action
        %tbody
          - for mail in @mails
            = render mail

      .pagination
        %ul
          %li= link_to '<<', '#'
          %li= link_to '1', '#'
          %li= link_to '>>', '#'
