<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @mail.user_id %>
</p>

<p>
  <b>Sender:</b>
  <%= @mail.sender %>
</p>

<p>
  <b>Attachement count:</b>
  <%= @mail.attachement_count %>
</p>

<p>
  <b>State:</b>
  <%= @mail.state %>
</p>


<%= link_to 'Edit', edit_mail_path(@mail) %> |
<%= link_to 'Back', mails_path %>
