%tr
  %td= check_box_tag :select
  %td= letter.sender
  %td= I18n.l letter.created_at, format: :long
  %td
    = link_to letter do
      %i.icon-eye-open
      Ouvrir
    \|
    = link_to '#', confirm: 'Voulez-vous reçevoir votre lettre papier ?' do
      %i.icon-envelope
      Reçevoir
