.row
  .span3
    %ul.nav.nav-tabs.nav-stacked
      %li
        = link_to letters_path do
          Mailbox
          %span.badge= @letters.count
      %li= link_to 'Archive', letters_path
      %li= link_to 'Trash', letters_path
    .well
      %h3
        Mon adresse
      %p
        #{current_user.firstname} #{current_user.lastname}
        %br
        1 rue du Hackeur
        %br
        75000 Paris
  .span9
    .well
      %table.table
        %thead
          %tr
            %th Selection
            %th Expediteur
            %th Recu le
            %th Action
        %tbody
          - for letter in @letters
            = render letter

      .pagination
        %ul
          %li= link_to '<<', '#'
          %li= link_to '1', '#'
          %li= link_to '>>', '#'
