<%= form_for [:backoffice, @mail] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :sender %><br />
    <%= f.text_field :sender %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p><%= f.submit %></p>
<% end %>
