<% title "Backoffice/Mails" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for mail in @mails %>
    <tr>
      <td><%= mail.name %></td>
      <td><%= link_to "Show", [:backoffice, mail] %></td>
      <td><%= link_to "Edit", edit_backoffice_mail_path(mail) %></td>
      <td><%= link_to "Destroy", [:backoffice, mail], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Backoffice/Mail", new_backoffice_mail_path %></p>
