!!!
%html
  %head
    %title= yield(:title)
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = yield(:head)
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        = link_to backoffice_letters_path, class: 'brand' do
          %i.icon-envelope
          MailOffice.me
        %ul.nav
          %li= link_to 'Courriers', backoffice_letters_path
          %li= link_to 'Ajouter un nouveau courrier', new_backoffice_letter_path
    .container{style: 'padding-top: 70px'}
      - if notice
        .alert.alert-success
          = notice
      = yield
